.contactHeading {
    background-image: url(./scss-images/contact-header-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;

    h1 {
        color: $sunnyYellow;
        margin-top: 0;
        padding-top: 20%;
        padding-left: 5%;

        span {
            display: block;
        }
    }
}

.contactBackground {
    background-color: $offWhite;

    i {
        color: $green;
        padding-right: 2rem;
    }

    .contacts {
        margin-top: -20%;
        margin-bottom: 10%;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        
    }
}