.blog,
.contact {
    background-color: $black;
}

// nav style for all pages
.headerNav {
    display: flex;
    height: 8vh;

        ul li {
            list-style: none;
            padding-right: 2rem;
        }

            a {
                color: white;
                text-decoration: none;
            }

            a:hover,
            a:focus {
                color: $sunnyYellow;
            }
}

.subMenu {
    padding: 0;
}

.logo p {
    color: white;
}

.logo,
.headerNav ul {
    display: flex;
    align-items: center;
}

