html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1900px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: #0E902D;
  color: #fff;
  padding: 10px 30px;
}

.logo p {
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 8.3rem;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

.headerNav ul li {
  font-size: 1rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.contactHeading h1,
.blogHeading h1 {
  font-size: 4rem;
  line-height: 92px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

.home h2 {
  font-size: 2.815rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 1.3px;
}

.blogPost h2 {
  font-size: 2.15rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.3px;
}

.about h2 {
  font-size: 2.1rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.moreInfo h2,
.links h2,
.comments h2,
.contacts h2 {
  font-size: 1.6rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

aside h2,
.comments h3 {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

button {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

::-moz-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

aside a,
.blogPost h3,
::placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

aside a,
.blogPost h3 {
  font-style: italic;
}

p {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.blog,
.contact {
  background-color: #2C2C2C;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
}
.headerNav ul li {
  list-style: none;
  padding-right: 2rem;
}
.headerNav a {
  color: white;
  text-decoration: none;
}

.logo p {
  color: white;
}

.logo,
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox {
  position: relative;
}

.headerBox img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.indexHeader {
  background-image: url(./scss-images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.indexHeader h1 {
  color: #fff;
  padding-left: 30%;
  line-height: 0.9;
  padding-top: 5%;
  position: relative;
  z-index: 2;
}
.indexHeader span {
  display: block;
  color: #F8E71C;
}
.indexHeader img {
  position: absolute;
  right: 0;
  top: 6rem;
  z-index: 1;
}

.home {
  background: #F0EFED;
  height: 60vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home h2 {
  margin-top: 0;
}

.moreInfo {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}

.moreInfoImg1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.moreInfoImg1 img {
  -webkit-box-shadow: 35px 35px #F8E71C;
          box-shadow: 35px 35px #F8E71C;
  position: relative;
  left: -12.5%;
  bottom: 100px;
}

.moreInfoText1 {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 60px;
}

.moreInfoText2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 60px;
}

.moreInfoImg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.moreInfoImg2 img {
  -webkit-box-shadow: -30px 30px #F8E71C;
          box-shadow: -30px 30px #F8E71C;
  position: relative;
  right: -12.5%;
  bottom: -70px;
}

.links {
  background: #F0EFED;
  padding-top: 7rem;
}
.links .linksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
}
.links .linksGrid .link {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 60px 1fr;
}
.links .linksGrid .link i {
  background: #F8E71C;
  border-radius: 50%;
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: end;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 15px;
}

.imageBreak img {
  width: 100%;
}

.about {
  background: #F0EFED;
}
.about .aboutFlex {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15%;
}
.about .aboutFlex img {
  -webkit-box-shadow: 30px 30px #F8E71C;
          box-shadow: 30px 30px #F8E71C;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 5rem auto;
}

footer {
  background: #2C2C2C;
  margin-bottom: -3%;
}
footer p {
  color: white;
  text-align: center;
}

.blogHeading {
  background-image: url(./scss-images/blog-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.blogHeading h1 {
  color: #F8E71C;
  margin-top: 0;
  padding-top: 20%;
  padding-left: 5%;
}

body {
  background-color: #F0EFED;
}
body h3 {
  color: #074115;
}

.blogBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogBody a {
  text-decoration: none;
  color: #074115;
  font-weight: 700;
}

aside {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  height: 100%;
  width: 18%;
  margin-left: 9%;
}
aside li::marker {
  color: #0E902D;
}
aside img {
  position: relative;
  left: -10vw;
  bottom: 20px;
  max-width: 100vw;
}

.blogImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -12rem;
}
.blogImg img {
  -webkit-box-shadow: -20px 20px #F8E71C;
          box-shadow: -20px 20px #F8E71C;
}

.blogContent {
  border-bottom: 10px solid #F8E71C;
  border-left: 10px solid #F8E71C;
  width: 65%;
  padding-left: 3%;
  padding-top: 2%;
  margin-right: 93px;
}

.comments {
  width: 50%;
  float: right;
  padding-right: 3%;
}

.commenters {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}
.commenters img {
  justify-self: center;
}
.commenters h3 {
  margin-top: 0;
}

footer,
.commentForm {
  clear: both;
}

.contactHeading {
  background-image: url(./scss-images/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}
.contactHeading h1 {
  color: #F8E71C;
  margin-top: 0;
  padding-top: 20%;
  padding-left: 5%;
}
.contactHeading h1 span {
  display: block;
}

main {
  background-color: #F0EFED;
}
main i {
  color: #0E902D;
}

input {
  border: 0;
  background-color: #F0EFED;
  border-bottom: 2px solid #0E902D;
}

#name {
  text-align: center;
}