html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1900px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: #0E902D;
  color: #fff;
  padding: 10px 30px;
}

.logo p {
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 8.3rem;
  line-height: 1.15;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

.headerNav ul li {
  font-size: 1rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.contactHeading h1,
.blogHeading h1 {
  font-size: 4rem;
  line-height: 92px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

.home h2 {
  font-size: 2.815rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 1.3px;
}

.blogPost h2 {
  font-size: 2.15rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.3px;
}

.about h2 {
  font-size: 2.1rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.moreInfo h2,
.links h2,
.comments h2,
.contacts h2 {
  font-size: 1.6rem;
  line-height: 1.15;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

aside h2,
.comments h3 {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

button {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.commentForm input::-webkit-input-placeholder, #commentBox::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.commentForm input::-moz-placeholder, #commentBox::-moz-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.commentForm input:-ms-input-placeholder, #commentBox:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.commentForm input::-ms-input-placeholder, #commentBox::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

aside a,
.blogPost h3,
.commentForm input::placeholder,
#commentBox::placeholder {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

aside a,
.blogPost h3 {
  font-style: italic;
}

p {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.blog,
.contact {
  background-color: #2C2C2C;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
}
.headerNav ul li {
  list-style: none;
  padding-right: 2rem;
}
.headerNav a {
  color: white;
  text-decoration: none;
}
.headerNav a:hover,
.headerNav a:focus {
  color: #F8E71C;
}

.subMenu {
  padding: 0;
}

.logo p {
  color: white;
}

.logo,
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indexHeader {
  background-image: url(./scss-images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.indexHeader h1 {
  color: #fff;
  padding-left: 30%;
  line-height: 0.9;
  padding-top: 5%;
  position: relative;
  z-index: 2;
}
.indexHeader span {
  display: block;
  color: #F8E71C;
}
.indexHeader img {
  position: absolute;
  right: 0;
  top: 6rem;
  z-index: 1;
}

.home {
  background: #F0EFED;
  height: 60vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home h2 {
  margin-top: 0;
}

.moreInfo {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}

.moreInfoImg1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.moreInfoImg1 img {
  -webkit-box-shadow: 35px 35px #F8E71C;
          box-shadow: 35px 35px #F8E71C;
  position: relative;
  left: -12.5%;
  bottom: 100px;
}

.moreInfoText1 {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 60px;
}

.moreInfoText2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 60px;
}

.moreInfoImg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.moreInfoImg2 img {
  -webkit-box-shadow: -30px 30px #F8E71C;
          box-shadow: -30px 30px #F8E71C;
  position: relative;
  right: -12.5%;
  bottom: -70px;
}

.links {
  background: #F0EFED;
  padding-top: 7rem;
}
.links .linksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
}
.links .linksGrid .link {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 60px 1fr;
}
.links .linksGrid .link i {
  background: #F8E71C;
  border-radius: 50%;
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: end;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 15px;
}

.imageBreak img {
  width: 100%;
}

.about {
  background: #F0EFED;
}
.about .aboutFlex {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15%;
}
.about .aboutFlex img {
  -webkit-box-shadow: 30px 30px #F8E71C;
          box-shadow: 30px 30px #F8E71C;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 5rem auto;
}

footer {
  background: #2C2C2C;
  margin-bottom: -3%;
}
footer p {
  color: white;
  text-align: center;
}

h1 {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 1.5s all ease-in;
  transition: 1.5s all ease-in;
}

.moreInfoText1 {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.moreInfoText2 {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.moreInfoTextNew {
  opacity: 1;
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.blogHeading {
  background-image: url(./scss-images/blog-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.blogHeading h1 {
  color: #F8E71C;
  margin-top: 0;
  padding-top: 20%;
  padding-left: 5%;
}

.blogBackground {
  background-color: #F0EFED;
}
.blogBackground h3 {
  color: #074115;
}

.blogBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogBody a {
  text-decoration: none;
  color: #074115;
  font-weight: 700;
}

aside {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  height: 100%;
  width: 18%;
  margin-left: 9%;
}
aside li::marker {
  color: #0E902D;
}
aside img {
  position: relative;
  left: -10vw;
  bottom: 20px;
  max-width: 100vw;
}

.blogImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -12rem;
}
.blogImg img {
  -webkit-box-shadow: -20px 20px #F8E71C;
          box-shadow: -20px 20px #F8E71C;
}

.blogContent {
  border-bottom: 10px solid #F8E71C;
  border-left: 10px solid #F8E71C;
  width: 65%;
  padding-left: 3%;
  padding-top: 2%;
  margin-right: 93px;
}

.comments {
  width: 50%;
  float: right;
  padding-right: 3%;
  margin-top: 3%;
}

.commenters {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}
.commenters img {
  justify-self: center;
}
.commenters h3 {
  margin-top: 0;
}

footer,
.commentForm {
  clear: both;
}

.contactHeading {
  background-image: url(./scss-images/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}
.contactHeading h1 {
  color: #F8E71C;
  margin-top: 0;
  padding-top: 20%;
  padding-left: 5%;
}
.contactHeading h1 span {
  display: block;
}

.contactBackground {
  background-color: #F0EFED;
}
.contactBackground i {
  color: #0E902D;
  padding-right: 2rem;
}
.contactBackground .contacts {
  margin-top: -20%;
  margin-bottom: 10%;
}
.contactBackground .contacts p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  border: 0;
  border-bottom: 2px solid #0E902D;
  padding: 20px 20px;
  width: 49%;
  margin-bottom: 2%;
}

textarea {
  resize: none;
  border: 2px solid #0E902D;
  width: 100%;
  height: 200px;
  padding: 15px;
}

form button {
  width: 100%;
  border: 0;
  margin-top: 2%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogBackground form {
  width: 45%;
  float: right;
  margin: 5% 5% 5% 0;
}
.blogBackground form input,
.blogBackground form textarea {
  background: #F0EFED;
}

.contactBackground form {
  background-color: white;
  padding: 5%;
  -webkit-box-shadow: -20px 20px #F8E71C;
          box-shadow: -20px 20px #F8E71C;
  width: 50%;
  position: relative;
  right: -20%;
  bottom: 15rem;
}

@media (max-width: 1000px) {
  .indexHeader {
    height: 50vh;
  }

  .indexHeader h1 {
    padding: 0;
  }

  .indexHeader img {
    max-width: 50%;
  }

  .about {
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .about .aboutFlex {
    gap: 7%;
  }

  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .headerNav {
    height: 4vh;
  }

  .blogHeading {
    height: 40vh;
  }

  .blogBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  aside {
    background-color: #F0EFED;
    width: 100%;
    margin: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    padding: 2rem;
  }

  aside img {
    position: static;
    width: 45%;
    height: 45%;
  }

  .blogImg {
    display: inline;
    margin: 0;
  }

  .blogImg img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }

  .blogContent {
    border: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }

  .comments {
    float: none;
    width: 90%;
  }

  .blogBackground form {
    float: none;
    margin-left: 5%;
    width: 90%;
  }

  .contactBackground form {
    bottom: -3rem;
  }

  .contactBackground .contacts {
    margin-bottom: 16%;
  }
}
@media (max-width: 770px) {
  .logo p {
    font-size: 30px;
  }

  .headerNav ul li {
    font-size: 16px;
    padding: 3%;
  }

  .indexHeader h1 {
    font-size: 140px;
  }

  .moreInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 5%;
  }

  .moreInfoImg1,
.moreInfoImg2 {
    width: 100%;
  }

  .moreInfoImg1 img,
.moreInfoImg2 img {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
  }

  .moreInfoFlex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .moreInfoFlex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    margin-top: 5%;
  }

  .moreInfoText1,
.moreInfoText2 {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .links .linksGrid {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 300px);
  }

  .about .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutText {
    text-align: center;
  }

  .contactHeading {
    height: 40vh;
  }

  .contactBackground form {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    width: 90%;
    margin-top: 5%;
  }

  .contactBackground .contacts {
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
  }
}
@media (max-width: 678px) {
  .indexHeader h1 {
    font-size: 120px;
  }

  .about .aboutFlex {
    height: 80vh;
  }
}
@media (max-width: 570px) {
  .indexHeader h1 {
    font-size: 100px;
    margin-top: 30%;
  }

  .indexHeader img {
    visibility: hidden;
  }

  .blogHeading {
    height: 30vh;
  }

  aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  aside img {
    width: 100%;
  }

  .commenters {
    grid-template-columns: 1fr 3fr;
    gap: 2%;
  }
}
@media (max-width: 474px) {
  .headerNav {
    height: 7vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .headerNav ul {
    padding-left: 10px;
  }

  .headerNav ul li {
    font-size: 14px;
  }

  .logo p {
    font-size: 20px;
  }

  .indexHeader h1 {
    font-size: 60px;
    margin-top: 30%;
  }

  .links .linksGrid {
    grid-template-rows: repeat(4, 400px);
  }

  .about .aboutFlex {
    height: 100%;
  }

  .about .aboutFlex img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}